{% extends "base.html.twig" %}
{% block content %}
    <div class="container">
        <p class="error">{{ data.error }}</p>
        <table class="table">
            <thead class="thead-dark">
            <tr>

                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">NameAuthorGoods</th>
            </tr>
            </thead>
            {% for info in data %}
                <tbody>
                <tr>
                    <td>
                        <img class="img-thumbnail" width="200" height="200" src="{{ info.little_img }}">
                    </td>
                    <td>{{ info.name }}</td>

                    <td>{{ info.price }}</td>
                    <td>{{ info.name_author_goods }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
                <form method="post">
                    <div class="mb-3">
                        <label>Name author</label>
                        <input type="text" name="name_author" placeholder="Name author" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Rating</label>
                        <input type="text" name="rating" placeholder="Rating" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label>Comment</label>
                        <input type="text" name="comment" placeholder="Comment" required class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </hr>
        <a href="/">Return to goods list</a>
    </div>
{% endblock %}